<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../scss/style.css">
  <title>LINE登錄發票集點換好禮</title>
</head>

<body>
  <div id="app">
    <div class="p-rewardCard" :class="hexChangeName" v-if="isload">
      <header class="p-rewardCard__header"></header>
      <div class="p-rewardCard__content">
        <ul class="tabs">
          <li v-for="(item, index) in tabsList" :key="index" class="tabs__item"
            :class="{'tabs__item--active': currentPage == item.value}" @click="currentPage = item.value">
            {{item.name}}
          </li>
        </ul>
        <div v-show="currentPage == 'rewardCard'" class="p-rewardCard__rewardCard p-rewardCard__cardBlock">
          <div class="wrapCard">
            <div class="cards">
              <ul class="cards__item" :style="`background-image: url(../bcs/getResource/IMAGE/${rewardCard.backgroundImage})`">
                <li v-for="(item, index) in showPoints">
                  <div
                    :class="[{'cards__item__point': item == 'used' || item == 'unused' }, {'cards__item__point--used': item == 'used' }]"
                    :style="`background-image: url(../bcs/getResource/IMAGE/${rewardCard.pointImage});`">
                  </div>
                  <p><span>{{index + 1}}</span></p>
                </li>
              </ul>
            </div>
            <div v-if="rewardCard.totalPoints > 10" class="cards__discript">
              <p class="i-border-r50" @click="changeCardPage('minus')">
                <i class="i-arrow-left"></i>
              </p>
              <p><b>{{currentCardNum}}</b>/{{Math.ceil(rewardCard.totalPoints / 10)}}</p>
              <p class="i-border-r50" @click="changeCardPage('plus')">
                <i class="i-arrow-right"></i>
              </p>
            </div>
          </div>

          <ul class="discription">
            <li>
              <div class="discription__img"></div>
              <p class="discription__title">可用點數</p>
              <p class="discription__detail">共 <span class="discription__credit">{{rewardCard.totalPoints - rewardCard.usedPoints}}</span> 點</p>
            </li>
            <li class="mt-3">
              <div class="discription__img"></div>
              <p class="discription__title">兌換期限</p>
              <p class="discription__detail">{{rewardCard.startTime}} ~ {{rewardCard.endTime}}</p>
            </li>
            <li class="mt-3" v-show="rewardCard.description">
              <div class="discription__img"></div>
              <p class="discription__title">活動說明</p>
              <p class="discription__detail">{{rewardCard.description}}</p>
            </li>
            <li class="mt-3" v-show="rewardCard.attention">
              <div class="discription__img"></div>
              <p class="discription__title">注意事項</p>
              <p class="discription__detail">{{rewardCard.attention}}</p>
            </li>
          </ul>
          <!-- <div class="rwBtn mt-3 m-auto">返回列表</div> -->
        </div>

        <div v-show="currentPage == 'redeem'" class="p-rewardCard__redeem p-rewardCard__cardBlock">
          <template v-if="redeems.length > 0">
            <div class="listBtn mt-3" v-for="redeem in redeems" :key="redeem.rid" @click="exchangePrize(redeem)">
              <div class="listBtn__img grid-4">
                <img :src="redeem.image | listImage" alt="">
              </div>
              <div class="listBtn__main grid-4">
                <p class="listBtn__name">{{redeem.title}}</p>
                <p class="listBtn__point">剩餘數量: {{redeem.remainingQuantity}}</p>
                <!-- todo 過期 -->
                <p v-if="isExpiry(rewardCard.endTime)" class="listBtn__status danger">已逾期</p>
                <p v-else-if="rewardCard.remainsPoints >= redeem.exchangePoint && redeem.remainingQuantity > 0" class="listBtn__status success">可兌換</p>
                <p v-else-if="redeem.remainingQuantity == 0" class="listBtn__status danger">數量不足</p>
                <p v-else class="listBtn__status danger">未達到</p>
              </div>
              <p class="listBtn__detail grid-4"><span>{{redeem.exchangePoint}}</span>點</p>
            </div>
          </template>
          <div v-else class="noRecord">
            <img src="../Mobile/images/rewardCard/no-record.png" alt="">
            <p>目前尚無可兌換的贈品</p>
          </div>
        </div>

        <div v-show="currentPage == 'record'" class="p-rewardCard__record p-rewardCard__cardBlock">
          <div v-if="exchangeRecord.length > 0">
            <table class="recordTable mt-3 w100" v-for="(record, index) in exchangeRecord" @click="switchRecord(index)">
              <tr class="recordTable__title">
                <td class="w25">{{record.redeemTime}}</td>
                <td class="w35">{{record.title}}</td>
                <td class="w15">{{record.numRedeemed}} 份</td>
                <td class="w25">共 {{record.usedPoints}} 點</td>
              </tr>
              <tr class="recordTable__content">
                <td>{{record.type === 'gift' ?'收件資訊' : '贈品序號'}}</td>
                <td colspan="3">
                  <template v-if="record.type === 'gift'">
                    <p>{{record.name}}</p>
                    <p>{{record.phone}}</p>
                    <p>{{record.email}}</p>
                    <p v-show="record.address">{{record.address}}</p>
                  </template>

                  <template v-else>
                    <p v-for="(code, i) in record.codes" v-html="addHrefToCode(i, record.codes)">
                      <!-- {{code}} -->
                    </p>
                  </template>

                </td>
              </tr>
            </table>

            <p class="mt-4 align-c">
              *點擊項目能展開看更多兌獎詳情
            </p>
          </div>
          <div v-else class="noRecord">
            <img src="../Mobile/images/rewardCard/no-record.png" alt="">
            <p>目前尚無兌換紀錄</p>
          </div>
        </div>
      </div>

      <!-- modal -->
      <div class="coverArea" :class="{isload: closeModal}">
        <!-- 選擇數量 -->
        <div v-if="modal.isExchangePrize" class="exchangeModal top25">
          <p class="exchangeModal__header">請選擇兌換數量</p>
          <div class="exchangeModal__content">
            <div class="flex">
              <div class="img w50">
                <img :src="selectedPrize.image | listImage" alt="">
              </div>

              <div class="exchangeModal__main w50">
                <p class="">{{selectedPrize.title}}</p>
                <select v-if="selectedPrize.remainingQuantity > 10" class="exchangeModal__select mt-1 mb-1" v-model="selectedPrize.exchangeNumber">
                  <option v-for="num in 10" :value="num">{{num}}</option>
                </select>
                <select v-else class="exchangeModal__select mt-1 mb-1" v-model="selectedPrize.exchangeNumber">
                  <option v-for="num in selectedPrize.remainingQuantity" :value="num">{{num}}</option>
                </select>
                <p>共 <span class="exchangeModal__main__credit">{{selectedPrize.exchangeNumber * selectedPrize.exchangePoint }}</span> 點</p>
              </div>
            </div>
          </div>
          <div class="exchangeModal__footer">
            <p class="exchangeModal_confirm w50 border-right" @click="closeAllModal">取消</p>
            <p class="exchangeModal_confirm w50" @click="orderPrize">兌換</p>
          </div>
        </div>
        <!-- 兌換成功 -->
        <div v-if="modal.isFinished" class="exchangeModal top25">
          <p class="exchangeModal__header">兌換成功</p>
          <div class="exchangeModal__content">

            <div class="flex">
              <div class="img w50">
                <img class="m-auto" src="../images/rewardCard/temp_prize2.png" alt="">
              </div>

              <div class="exchangeModal__main w50">
                <p>{{selectedPrize.title}}</p>
                <p>本次兌換：{{selectedPrize.exchangeNumber}} 份</p>
                <p>使用點數：<span class="exchangeModal__main__credit">{{selectedPrize.exchangeNumber * selectedPrize.exchangePoint}}</span> 點</p>
              </div>
            </div>

          </div>
          <div class="exchangeModal__footer">
            <p class="exchangeModal_confirm w50" @click="finishExchangePrize">確定</p>
          </div>
        </div>

        <!-- 請填寫收件資訊 -->
        <div v-if="modal.isFillUserInfo" class="exchangeModal top25">
          <p class="exchangeModal__header">請填寫收件資訊</p>
          <div class="exchangeModal__content">
            <div class="flex w100">
              <input type="text" class="exchangeModal__input mt-1 mb-2 mr-2" :class="{'border-red': uiUserInfoValidate['name'] == false}" placeholder="收件人姓名" v-model="uiUserInfoTemp.name" @blur="checkValid(uiUserInfoTemp.name, 'uiUserInfoValidate', 'name')">
              <select class="exchangeModal__select mt-1 mb-2" v-model="uiUserInfoTemp.sex">
                <option value="male">先生</option>
                <option value="female">小姐</option>
              </select>
            </div>
            <input type="tel" maxlength="10" class="exchangeModal__input mb-2" :class="{'border-red': uiUserInfoValidate['phone'] == false}"  placeholder="聯絡電話 (0912345678)" v-model="uiUserInfoTemp.phone" @blur="checkPhone(uiUserInfoTemp.phone, 'uiUserInfoValidate', 'phone')">
            <input type="text" maxlength="40" class="exchangeModal__input mb-2" :class="{'border-red': uiUserInfoValidate['email'] == false}" placeholder="電子郵件" v-model="uiUserInfoTemp.email" @blur="checkEmail(uiUserInfoTemp.email, 'uiUserInfoValidate', 'email')">
            <div class="flex w100 mb-2">
              <select class="exchangeModal__select mt-1 mb-1 mr-2" v-model="uiUserInfoTemp.selectedCountry" :class="{'border-red': uiUserInfoValidate['selectedCountry'] == false}">
                <option value="" selected disabled>縣市</option>
                <option v-for="item in cityCountry" :value="item.CityName">{{item.CityName}}</option>
              </select>
              
              <select class="exchangeModal__select mt-1 mb-1" v-model="uiUserInfoTemp.selectedCity" :class="{'border-red': uiUserInfoValidate['selectedCity'] == false}">
                <option value="" selected disabled>鄉鎮</option>
                <option v-for="item in cityName" :value="item.AreaName">{{item.AreaName}}</option>
              </select>
            </div>
            <input type="text" maxlength="40" class="exchangeModal__input" placeholder="詳細收件人地址"
              :class="{'border-red': uiUserInfoValidate['inputAddress'] == false}"
              v-model="uiUserInfoTemp.inputAddress"
              @blur="checkValid(uiUserInfoTemp.inputAddress, 'uiUserInfoValidate', 'inputAddress')">
          </div>
          <div class="exchangeModal__footer">
            <p class="exchangeModal_confirm w50 border-right" @click="closeAllModal">取消</p>
            <p class="exchangeModal_confirm w50" @click="confirmUserInfo">確定</p>
          </div>
        </div>

        <!-- 請確認收件資訊 -->
        <div v-if="modal.isConfirmUserInfo" class="exchangeModal top25">
          <p class="exchangeModal__header">確認收件資訊</p>
          <div class="exchangeModal__content">
            <div class="p-2">
              <div class="flex mb-3">
                <p class="mr-1">收件人：</p>
                <p class="gray-1">{{userInfo.name}}</p>
              </div>
              <div class="flex mb-3">
                <p class="mr-1">稱謂：</p>
                <p class="gray-1">{{userInfo.sex == 'female' ? '小姐' : '先生'}}</p>
              </div>
              <div class="flex mb-3">
                <p class="mr-1">聯絡電話：</p>
                <p class="gray-1">{{userInfo.phone}}</p>
              </div>
              <div class="flex mb-3">
                <!-- <p class="mr-1">電子郵件：</p>
                <p class="gray-1">{{userInfo.email}}</p> -->
                <p>電子郵件：<span class="gray-1">{{userInfo.email}}</span></p>
              </div>
              <div class="flex">
                <!-- <p class="mr-1">收件地址：</p>
                <p class="gray-1">{{userInfo.address}}</p> -->
                <p>收件地址：<span class="gray-1">{{userInfo.address}}</span></p>
              </div>
            </div>
          </div>
          <div class="exchangeModal__footer">
            <p class="exchangeModal_confirm w50 border-right" @click="returnUserInfo">返回修改</p>
            <p class="exchangeModal_confirm w50" @click="sendUserInfo">完成送出</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        mid: 'Ua7d36f6dbc1b31fe3fbe0a95ea02c9a1',
        rewardCardId: null,
        bgImageUrl: '',
        currentPage: 'rewardCard',
        // 頁面上方tabs 
        tabsList: [
          {
            value: 'rewardCard',
            name: '集點卡'
          },
          {
            value: 'redeem',
            name: '贈品列表'
          },
          {
            value: 'record',
            name: '兌換紀錄'
          }
        ],
        // 集點卡點數
        rewardCardPoints: [],
        currentCardNum: 1,
        // tab1:: 集點卡
        rewardCard: null,
        // tab2::贈品
        redeems: [],
        // tab3:: 兌換紀錄
        exchangeRecord: [],
        // 選擇禮物
        selectedPrize: null,
        uiUserInfoTemp: {
          name: '',
          sex: 'male',
          phone: '',
          email: '',
          selectedCountry: '',
          selectedCity: '',
          inputAddress: '',
        },
        uiUserInfoValidate: {
          name: null,
          sex: null,
          phone: null,
          email: null,
          selectedCountry: null,
          selectedCity: null,
          inputAddress: null
        },
        // 鄉鎮市區
        cityCountry: [],
        // 用戶資訊
        userInfo: null,
        isload: false,
        closeModal: true,
        modal: {
          isExchangePrize: false,
          isFinished: false,
          isFillUserInfo: false,
          isConfirmUserInfo: false
        }
      },
      methods: {
        // [API]: 取得集點卡明細
        getProfileTest(id) {
          let url = '../js/profile.json'
          return new Promise((resolve, reject) => {
            fetch(url, {
              method: 'GET'
            }).then(response => {
              return response.json()
            }).then(response => {
              setTimeout(() => {
                resolve(response)
              }, 100)
            }).catch(e => {
              reject('somthing wrong')
            })
          })
        },
        // [API]: 取得集點卡明細
        getProfile(id) {
          let url = `rewardCard/profile?mid=${this.mid}&rewardCardId=${id}`
          return new Promise((resolve, reject) => {
            fetch(url, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              }
            }).then(response => {
              return response.json()
            }).then(response => {
              setTimeout(() => {
                resolve(response)
              }, 100)
            }).catch(e => {
              reject('somthing wrong')
            })
          })
        },
        // [API]: 送出獎品
        sendPrizeRequest(type, data) {
          let url = `rewardCard/redeem?type=${type}`
          return new Promise((resolve, reject) => { 
            fetch(url, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(data)
            }).then(response => {
              return response.json()
            }).then(response => {
              if (response.status === 'ok') {
                setTimeout(() => {
                  resolve(response)
                }, 100)
              } else {
                reject(response.message)
              }
            }).catch(e => {
              reject('系統發生異常，請重新操作')
            })
          })
        },
        // [API]: 取得用戶先前的資料
        userAddress () {
          // let url = '../js/address.json'
          // fetch(url, {
          //     method: 'GET'
          //   }).then(response => {
          //     console.log(response)
          //     return response.json()
          //   }).then(response => {
              
          //     // 先取得地址前三碼
          //     let addressCode = response.address.slice(0, 3)
          //     let showUserData = this.showAddressData('ZipCode', addressCode)
          //     if (Object.keys(showUserData).length) {
          //       this.uiUserInfoTemp.selectedCountry = showUserData.CityName
          //       this.uiUserInfoTemp.selectedCity = showUserData.AreaName
          //       this.uiUserInfoTemp.inputAddress = response.address.replace(`${addressCode}${showUserData.CityName}${showUserData.AreaName}`, '')
          //     } else {
          //       this.uiUserInfoTemp.inputAddress = response
          //     }
          //   }).catch(e => {
          //     console.log(e)
          //     console.log('something wrong')
          //   })
          let url = `rewardCard/user/profile?mid=${this.mid}`
            fetch(url, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
              }
            }).then(response => {
              return response.json()
            }).then(response => {
              // 先取得地址前三碼
              let addressCode = response.address.slice(0, 3)
              let showUserData = this.showAddressData('ZipCode', addressCode)
              if (Object.keys(showUserData).length) {
                this.uiUserInfoTemp.selectedCountry = showUserData.CityName
                this.uiUserInfoTemp.selectedCity = showUserData.AreaName
                this.uiUserInfoTemp.inputAddress = response.address.replace(`${addressCode} ${showUserData.CityName}${showUserData.AreaName}`, '')
              } else {
                this.uiUserInfoTemp.inputAddress = response
              }
            }).catch(e => {
            console.log(e)
          })
        },
        // 兌換商品
        exchangePrize(item) {
          if (this.rewardCard.remainsPoints >= item.exchangePoint && item.remainingQuantity > 0 && !this.isExpiry(this.rewardCard.endTime)) {
            this.closeModal = false
            this.selectedPrize = {
              ...item,
              exchangeNumber: 1
            }
            this.modal.isExchangePrize = true
          }
        },
        // 兌換商品
        orderPrize() {
          if (this.selectedPrize.type === 'code') {
            this.modal.isExchangePrize = false
            let data = {
              mid: this.mid,
              rewardCardId: this.rewardCardId,
              redeemRid: this.selectedPrize.rid,
              redeemQuantity: this.selectedPrize.exchangeNumber
            }
            // 送出資料
            this.sendPrizeRequest('code', data).then(response => {
              // 發送成功訊息
              let {title, exchangeNumber, exchangePoint } = this.selectedPrize
              let msg = `你已花費「${exchangeNumber * exchangePoint}」點，兌換「${title}」虛擬序號「${exchangeNumber}」份，下列是您所兌換的序號: ${response.data.codes}.join("\n")`
              this.liffSendMesaage(msg).then(response => {this.selectedPrize = {}})
              // 開啟成功頁面
              this.modal.isFinished = true
            }).catch(msg => {
              alert(msg)
              this.closeAllModal()
            })
          } else {
            this.modal.isExchangePrize = false
            this.modal.isFillUserInfo = true
          }
        },
        // 兌換成功
        finishExchangePrize(msg) {
          this.fetchProfileData(this.rewardCardId)
          this.closeAllModal()
        },
        // 關閉modal
        closeAllModal() {
          this.modal = {
            isExchangePrize: false,
            isFinished: false,
            isFillUserInfo: false,
            isConfirmUserInfo: false
          }
          this.closeModal = true
          this.selectedPrize = {}
        },
        returnUserInfo () {
          this.modal.isConfirmUserInfo = false
          this.modal.isFillUserInfo = true
        },
        // 確認資料
        confirmUserInfo () {
          // 檢查格式是否正確
          Object.keys(this.uiUserInfoTemp).forEach(item => {
            this.uiUserInfoValidate[item] = Boolean(this.uiUserInfoTemp[item])
          })
          // 確認資料是否都有填寫
          if (Object.values(this.uiUserInfoValidate).every(x => Boolean(x))) {
            let zipCode = this.showAddressData('AreaName', this.uiUserInfoTemp['selectedCity']).ZipCode
            this.userInfo = {
              name: this.uiUserInfoTemp['name'],
              sex: this.uiUserInfoTemp['sex'],
              phone: this.uiUserInfoTemp['phone'],
              address: `${zipCode} ${this.uiUserInfoTemp['selectedCountry']}${this.uiUserInfoTemp['selectedCity']}${this.uiUserInfoTemp['inputAddress']}`,
              email: this.uiUserInfoTemp['email']
            }
            this.modal.isConfirmUserInfo = true
            this.modal.isFillUserInfo = false
          }
        },
        // 送出填寫獎項的資料
        sendUserInfo () {
          let data = {
            mid: this.mid,
            rewardCardId: this.rewardCardId,
            redeemRid: this.selectedPrize.rid,
            redeemQuantity: this.selectedPrize.exchangeNumber,
            ...this.userInfo
          }
          this.modal.isConfirmUserInfo = false
          // 送出資料
          this.sendPrizeRequest('gift', data).then(response => {
            // 發送成功訊息
            let {title, type, exchangeNumber, exchangePoint } = this.selectedPrize
            let msg = `你已花費「${exchangeNumber * exchangePoint}」點，兌換了「${title}」實體贈品「${exchangeNumber}」份，贈品將 依活動相關辦法寄出!`
            this.liffSendMesaage(msg).then(response => {
              this.selectedPrize = {}
            })
            this.modal.isFinished = true
          }).catch(msg => {
            alert(msg)
            this.closeAllModal()
          })
        },
        // [UI]: 切換記錄顯示
        switchRecord(index) {
          try {
            let tableList = document.querySelectorAll('.recordTable')
            let showCollapse = 'recordTable__content--collapse'
            let targetElemant = tableList[index].children[0].children[1].classList
            if (targetElemant.contains(showCollapse)) {
              targetElemant.remove(showCollapse)
            } else {
              targetElemant.add(showCollapse)
            }
          } catch (error) {}
        },
        // 點數
        cardPoints (totalPoints, usedPoints) {
          let eachCard = 10
          let usePointsCard = Math.ceil(usedPoints / eachCard)
          let cardNum = Math.ceil(totalPoints / eachCard)
          for (let i = 0 ; i < cardNum; i++) {
            let currentTotalCardPoints = eachCard * (i + 1)
            this.rewardCardPoints.push({
              total: totalPoints / currentTotalCardPoints >= 1 ? eachCard : totalPoints % eachCard,
              used: usedPoints / currentTotalCardPoints >= 1 ? eachCard : (usePointsCard >= (i + 1) ? usedPoints % eachCard : 0) 
            })
          }
        },
        // 切換頁碼        
        changeCardPage (status) {
          if (status == 'minus' && this.currentCardNum !== 1) {
            this.currentCardNum = this.currentCardNum - 1
          } else if (status == 'plus' && this.currentCardNum !== this.rewardCardPoints.length) {
            this.currentCardNum = this.currentCardNum + 1
          }
        },      
        // 取得鄉鎮市區
        fetchCityCountryData() {
          let url = '../js/CityCountyData.json'
          return new Promise((resolve, reject) => {
            fetch(url, {
              method: 'GET'
            }).then(response => {
              return response.json()
            }).then(response => {
              setTimeout(() => {
                resolve(response)
              }, 100)
            }).catch(e => {
              reject('something wrong')
            })
          }) 
        },
        // 取集點卡用戶資料
        fetchProfileData (id) {
          this.getProfileTest(id).then(profile => {
            //  贈品列表
            this.redeems = profile.redeems
            // 兌換紀錄
            this.exchangeRecord = profile.records ? profile.records : []
            // 滿額集點卡
            this.rewardCard = {
              ...profile,
              'remainsPoints': profile.totalPoints - profile.usedPoints
            }
            delete this.rewardCard['redeems']
            delete this.rewardCard['records']

            // 組裝
            this.cardPoints(profile.totalPoints, profile.usedPoints)

            this.currentCardNum = this.rewardCardPoints.length
            this.isload = true
          }).catch(e => {
          })
        },
        /**
         * Search 地址完整資訊
         * @param {String} key 搜尋的key Ex: 鄉鎮市區 or Code
         * @param {String} val 搜尋得值
         */
        showAddressData (key, val) {
          let modifyCityCountryAddress = this.cityCountry.reduce((acc, current) => {
            let data = current.AreaList.map(x => ({
              'CityName': current.CityName,
              ...x
            }))
            return [...acc, ...data]
          }, [])

          return modifyCityCountryAddress.find(item => item[key] === val)
        },
        // 檢查email
        checkEmail(email, validate, item) {
          var emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/
          if (email.search(emailRule) !== -1) {
            this[validate][item] = true
          } else {
            this[validate][item] = false
          }
        },
        // 檢查電話
        checkPhone(phone, validate, item) {
          var regx = /^[09]{2}[0-9]{8}$/
          if (!regx.test(phone)) {
            this[validate][item] = false
          } else {
            this[validate][item] =  true
          }
        },
        // 檢查空白
        checkValid(value, validate, item) {
          this[validate][item] = Boolean(value)
        },
        // 確認是否已過期，今日 > endtime
        isExpiry (date) {
          let mm = new Date().getMonth() + 1 >= 10 ? new Date().getMonth() + 1 : `0${new Date().getMonth() + 1}`
          let dd = new Date().getDate() >= 10 ? new Date().getDate() : `0${new Date().getDate()}`
          let today = `${new Date().getFullYear()}-${mm}-${dd}}`
          return today > date
        },
        // [LIFF]:: liff init 
        liffInit (myLiffId) {
          return new Promise ((resolve, reject) => {
            liff.init({
              liffId: myLiffId
            })
            .then(() => {
              resolve('success')
            })
            .catch((err) => {
              reject(new Error(`Error: ${err}`))
            })
          })
        },
        // [LIFF]:: get profile call
        getLIFFProfile () {
          return new Promise ((resolve, reject) => {
            liff.getProfile().then(function(profile) {
              resolve(profile)
            }).catch(function(error) {
              reject(new Error(error))
            })
          })
        },
        // [LIFF]:: 送出liff 訊息
        liffSendMesaage (msgContent) {
          return new Promise ((resolve, reject) => {
            try {
              liff.sendMessages([{
                'type': 'text',
                'text': msgContent
              }]).then(function() {
                resolve('success')
              }).catch(function(error) {
                reject(new Error(error))
              })
            } catch (error) {
              reject(new Error(error))
            }
          })
        },
        // 如果序號是網址則加上連結
        addHrefToCode(index, codes) {
          if (codes.length > 1) {
            return codes[index].match('https') ? `${index+1}. <a href="${codes[index]}" target="_blank" rel="noopener">${codes[index]}</a>` : `${index+1}. ${codes[index]}`
          } else {
            return codes[index].match('https') ? `<a href="${codes[index]}" target="_blank" rel="noopener">${codes[index]}</a>` : codes[index]
          }
        }
      },
      filters: {
        // 轉換圖片
        listImage(item) {
          return `../bcs/getResource/IMAGE/${item}`
        },
      },
      computed: {
        // 16進位顏色轉換名字
        hexChangeName () {
          let bgColor = this.rewardCard.backgroundColor
          switch (bgColor) {
            case '#1B73A7':
              return 'p-rewardCard--blue'
            case '#EA3C6E':
              return 'p-rewardCard--pink'
            case '#2C946E':
              return 'p-rewardCard--green'
            case '#FFC000':
              return 'p-rewardCard--yellow'
          }
        },
        // 集點卡點數
        showPoints () {
          let currentCard = this.rewardCardPoints[this.currentCardNum - 1]
          let pointArray = []
          try {
            pointArray.length = 10
            pointArray.fill('used', 0, currentCard.used)
            pointArray.fill('unused', currentCard.used, currentCard.total)
            pointArray.fill('valid', currentCard.total)
          } catch (error) {
          }
          return pointArray
        },
        // 鄉鎮名稱
        cityName () {
          let [area] = [...this.cityCountry.filter(item => item.CityName === this.uiUserInfoTemp.selectedCountry)]
          return area ? area.AreaList : []
        }
      },
      created() {
        // let liffId = '1629910250-pMnyE9oo'
        // // liff Init - 取得profile
        // this.liffInit(liffId)
        //   .then((data) => {
        //     if (!liff.isLoggedIn()) {    
        //       liff.login()
        //     } else {
        //       // 取得登入者資訊
        //       return this.getLIFFProfile().then(profile => profile)
        //     }
        //   }).then((profile) => {
            // 取得使用者的mid
            // this.mid = profile.userId
            // 取得集點卡id
            this.rewardCardId = new URL(location.href).searchParams.get("id")

            // 取得集點卡的資訊
            this.fetchProfileData(this.rewardCardId)

            // fetch台灣縣市鄉鎮
            this.fetchCityCountryData().then(response => {
              this.cityCountry = response
              // 取得使用者過去填寫資料
              this.userAddress()
            }).catch(e => {
              console.log(e)
            })

          // }).catch(msg => {
          //   alert(msg)
          //   location.assign('https://manager.line.biz/')
          // })
      }
    })
  </script>
</body>

</html>