.pointer {
  cursor: pointer;
}
.hidden {
  display: none;
}
.align {
  &-c {
    text-align: center;
  }
  &-r {
    text-align: right;
  }
  &-l {
    text-align: left;
  }
}
.flex {
  display: flex;
}
// Color
@each $key, $value in $themes {
  .#{$key} {
    color: $value !important;
  }
  .bg-#{$key} {
    background-color: $value !important;
  }
}
// Margin
//
// 依據 space 列舉top、right、bottom、left
@each $key, $value in $spacer {
  .m-#{$key} {
    margin: $value !important;
  }
  .mt-#{$key} {
    margin-top: $value !important;
  }
  .mr-#{$key} {
    margin-right: $value !important;
  }
  .mb-#{$key} {
    margin-bottom: $value !important;
  }
  .ml-#{$key} {
    margin-left: $value !important;
  }
}
.m-auto {
  margin: auto;
}
// Padding
//
// 依據 space 列舉top、right、bottom、left
@each $key, $value in $spacer {
  .p-#{$key} {
    padding: $value !important;
  }
  .pt-#{$key} {
    padding-top: $value !important;
  }
  .pr-#{$key} {
    padding-right: $value !important;
  }
  .pb-#{$key} {
    padding-bottom: $value !important;
  }
  .pl-#{$key} {
    padding-left: $value !important;
  }
}

// Width
//
@for $i from 1 to 21 {
  .w#{$i*5} {
    width: $i * 5% !important;
  }
}

// grid
//
@for $i from 1 through $grid-columns {
  .grid-#{$i} {
    width: percentage($i / $grid-columns) !important;
  }
}


// top
@for $i from 1 to 5 {
  .top#{$i*25} {
    top: $i * 25%;
  }
}

// icon
i {
  border: solid $gray-4;
  border-width: 0 0.2rem 0.2rem 0;
  display: inline-block;
  padding:  0.2rem;
  &.i-arrow-left {
    transform: rotate(135deg);
  }
  &.i-arrow-right {
    transform: rotate(-45deg);
  }

}

// other
//
.coverArea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  top: 0;
  z-index: 8;
  &.isload {
    // opacity: 0;
    // visibility: hidden;
    display: none;
  }
}
.border-right {
  border-right: 1px solid $white;
}
.border {
  &-r50 {
    border-radius: 50%;
    border: 1px solid $gray-4;
  }
}
.border-red {
  border-color: $danger !important;
}

// font-weight
@for $i from 1 to 10 {
  .fw-#{$i*100} {
    font-weight: $i*100;
  }
}