@import url('http://fonts.googleapis.com/earlyaccess/notosanstc.css');
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLT45Book.ttf');
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  word-break: break-all;
}
html {
  @include smallPhone {
    font-size: 12px;
  }
  @include normalPhone {
    font-size: calc(14px + 2vw);
  }
  @include pad{
    font-size: calc(24px + 1vw);
  }
}
ul {
  margin: 0;
}
li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}