.p-rewardCard{
  width: 100%;
  max-width: $max-width;
  height: 100vh;
  margin: auto;
  // min-height: 100vh;
  overflow: hidden;

  &__rewardCard {
    height: 90%;
    margin-top: 1rem;
    overflow-y: auto;
  }

  &__header {
    width: 100%;
    height: 0;
    padding-bottom: 20%;
    // background-color: #fff;
    background-size: 20%;
    background-position: 6% bottom;
  }

  &__content {
    height: 87%;
    padding: 1.2rem;
    overflow-y: hidden;

    .cards {
      &__item {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1.2rem;
        border-radius: 15px;
        padding: 1.5rem 1rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &__point {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          background-size: contain;
          background-position: center;
          border-radius: 50%;
        }
        &__point--used::after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          background-image: url(../Mobile/images/rewardCard/dotUsed.png);
          background-size: contain;
          background-position: center;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-position: 2px 24px;
        }
        li {
          z-index: 2;
          justify-content: center;

          p {
            color: $white;
            width: 100%;
            height: 0;;
            padding-bottom: calc(100% - 4px);
            line-height: 1;
            margin: auto;
            border-radius: 50%;
            line-height: 50%;
            border: 2px solid $white;
            text-align: center;
            span {
              font-weight: bold;
              font-size: 1rem;
              @include ab-position(50%, 50%, translate(-50%, -50%) );
            }
            &::after {
              content: '';
              position: absolute;
              width: 60%;
              height: 60%;
              border-radius: 50%;
              background: $white;
              z-index: -1;
              @include ab-position(50%, 50%, translate(-50%, -50%) );
            }
          }
        }
      }
      &__dot {
        display: flex;
        justify-content: center;
        margin-top: 8px;
        li.dot {
          width: 0.5rem;
          height: 0.5rem;
          margin-right: 0.5rem;
          opacity: 0.5;
          border-radius: 50%;
          &--active {
            opacity: 1;
          }
        }
      }
      &__discript {
        display: flex;
        // justify-content: space-around;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        font-size: 1.2rem;
        .i-border-r50 {
          display: flex;
          align-items: center;
          width: 2.3rem;
          height:  2.3rem;
          margin: 0 0.6rem;
          border: 1px solid $gray-4;
          border-radius: 50%;
          &:active {
            background: $gray-2;
          }
          &:active > i{
            opacity: 0.9;;
          }
        }
        .i-arrow-left {
          left: calc(50% - 0.2rem);
        }
        .i-arrow-right {
          left: calc(50% - 0.4rem);
        }
      }
    }
    .discription {
      // margin-top: 1rem;
      margin: 1rem 0;
      border-radius: 20px;
      padding: 1.4rem;
      border: 1px solid $default;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
      li {
        padding-left: 2.5rem;
        .discription__img {
          width: 1.8rem;
          height: 1.8rem;
          position: absolute;
          left: 0;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
      &__title {
        margin: 0 0 10px;
        font-size: 1.05rem;
        font-weight: 700;
        line-height: 1.68;
      }
      &__detail {
        font-size: 1.02rem;
      }
      &__credit {
        font-size: 1.3rem;
        font-weight: 700;
      }
    }
  }

  .listBtn {
    display: flex;
    align-items: center;
    padding-right: 0.6rem;
    border-radius: 20px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    &__img {
      padding: 1rem;
      color: $gray-1;
    }
    &__main {
      p {
        font-size: 0.9rem;
        color: $gray-1;
        line-height: 2;
      }
    }
    &__detail {
      text-align: right;
      span {
        font-family: 'Avenir', '微軟正黑體';
        font-weight: bold;
        font-size: 4.5rem;
        line-height: 1.2;
      }
    }
  }
  // 2. collapse
  .recordTable{
    background: $white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    padding: .2rem 1rem;
    border-radius: 18px;
    cursor: pointer;
    &__title{
      line-height: 2.2;
      td:first-of-type {
        border-bottom: 0;
      }
      td {
        padding: 2px;
        font-size: 0.8rem;
      }
    }

    &__content{
      display: none;
      font-size: 1rem;
      line-height: 1.68;
      border-radius: 20px;
      margin-top: .5rem;
      &--collapse {
        display: table-row;
      }
      td {
        border-top: 1px dotted $gray-4;
        padding: 10px;
      }
      td:first-of-type {
        font-size: 0.8rem;
        color: $gray-2;
        text-align: right;
      }
      td:last-of-type {
        padding: 10px;
        font-size: 0.7rem;
      }
    }
  }
  .noRecord {
    opacity: 0.4;
    top: 120px;
    img {
      margin: auto;
      width: 30%;
    }
    p {
      text-align: center;
      font-size: 1.2rem;
    }
  }
}

.p-rewardCard {
  &--blue {
    td, p, h2 {
      color: $blue;
    }
    .p-rewardCard__header {
      background-image: url('../Mobile/images/rewardCard/blue-header.png');
    }
    .rwBtn {
      background: $blue;
    }
    .listBtn {
      border: 1px solid $blue;
      &__detail {
        color: $blue;
      }
    }
    .exchangeModal {
      &__header {
        background: $blue;
        color: $white;
      }
      &__footer {
        background: $blue;
      }
    }
    .tabs__item {
      color: $blue;
      border: 1px solid $blue;
      &--active {
        background: $blue;
        color: #fff;
      }
    }
    .recordTable{  
      &__content{
        td {
          border-top: 1px dotted $gray-4;
          padding: 10px;
        }
        td:first-of-type {
          font-size: 0.8rem;
          color: $gray-2;
          text-align: right;
        }
        td:last-of-type {
          padding: 10px;
          font-size: 0.7rem;
        }
      }
    }
    .cards {
      &__item {
        background-color: $blue; //
        li p {
          color: $blue; //
        }
      }
      &__dot {
        li.dot {
          background-color: $blue;
        }
      }
    }
    .discription {
      p {
        color: $blue;
      }
      &__detail {
        color: $blue;
      }
      li {
        &:first-of-type {
          .discription__img {
            background-image: url('../Mobile/images/rewardCard/icon-blue-point.png');
          }
        }
        &:nth-of-type(2) {
          .discription__img {
            background-image: url('../Mobile/images/rewardCard/icon-blue-date.png');
          }
        }
        &:nth-of-type(3) {
          .discription__img {
            background-image: url('../Mobile/images/rewardCard/icon-blue-doc.png');
          }
        }
        &:last-of-type {
          .discription__img {
            background-image: url('../Mobile/images/rewardCard/icon-blue-notice.png');
          }
        }
      }
    }
  }
  &--pink {
    td, p, h2 {
      color: $pink;
    }
    .p-rewardCard__header {
      background-image: url('../Mobile/images/rewardCard/pink-header.png'); //
    }
    .rwBtn {
      background-color: $pink;
    }
    .listBtn {
      border: 1px solid $pink;
      &__detail {
        color: $pink;
      }
    }
    .exchangeModal {
      &__header {
        background-color: $pink;
        color: $white;
      }
      &__footer {
        background-color: $pink;
      }
    }
    .tabs__item {
      color: $pink;
      border: 1px solid $pink;
      &--active {
        color: #fff;
        background-color: $pink;
      }
    } 
    .cards {
      &__item {
        background-color: $pink; //
        li p {
          color: $pink; //
        }
      }
      &__dot {
        li.dot {
          background-color: $pink;
        }
      }
    }
    .discription {
      p {
        color: $pink;
      }
      &__detail {
        color: $pink;
      }
      li {
        &:first-of-type {
          .discription__img {
            background-image: url('../Mobile/images/rewardCard/icon-pink-point.png');
          }
        }
        &:nth-of-type(2) {
          .discription__img {
            background-image: url('../Mobile/images/rewardCard/icon-pink-date.png');
          }
        }
        &:nth-of-type(3) {
          .discription__img {
            background-image: url('../Mobile/images/rewardCard/icon-pink-doc.png');
          }
        }
        &:last-of-type {
          .discription__img {
            background-image: url('../Mobile/images/rewardCard/icon-pink-notice.png');
          }
        }
      }
    }
  }
  &--green {
    td, p, h2 {
      color: $green;
    }
    .p-rewardCard__header {
      background-image: url('../Mobile/images/rewardCard/green-header.png'); //
    }
    .rwBtn {
      background: $green;
    }
    .listBtn {
      border: 1px solid $green;
      &__detail {
        color: $green;
      }
    }
    .exchangeModal {
      &__header {
        background-color: $green;
        color: $white;
      }
      &__footer {
        background-color: $green;
      }
    }
    .tabs__item {
      color: $green;
      border: 1px solid $green;
      &--active {
        color: #fff;
        background-color: $green;
      }
    } 
    .cards {
      &__item {
        background-color: $green; //
        li p {
          color: $green; //
        }
      }
      &__dot {
        li.dot {
          background-color: $green;
        }
      }
    }
    .discription {
      p {
        color: $green;
      }
      &__detail {
        color: $green;
      }
      li {
        &:first-of-type {
          .discription__img {
            background-image: url('../Mobile/images/rewardCard/icon-green-point.png');
          }
        }
        &:nth-of-type(2) {
          .discription__img {
            background-image: url('../Mobile/images/rewardCard/icon-green-date.png');
          }
        }
        &:nth-of-type(3) {
          .discription__img {
            background-image: url('../Mobile/images/rewardCard/icon-green-doc.png');
          }
        }
        &:last-of-type {
          .discription__img {
            background-image: url('../Mobile/images/rewardCard/icon-green-notice.png');
          }
        }
      }
    }
  }
  &--yellow {
    td, p, h2 {
      color: $yellow;
    }
    .p-rewardCard__header {
      background-image: url('../Mobile/images/rewardCard/yellow-header.png'); //
    }
    .rwBtn {
      background: $yellow;
    }
    .listBtn {
      border: 1px solid $yellow;
      &__detail {
        color: $yellow;
      }
    }
    .exchangeModal {
      &__header {
        background-color: $yellow;
        color: $white;
      }
      &__footer {
        background-color: $yellow;
      }
    }
    .tabs__item {
      color: $yellow;
      border: 1px solid $yellow;
      &--active {
        color: #fff;
        background-color: $yellow;
      }
    } 
    .cards {
      &__item {
        background-color: $yellow; //
        li p {
          color: $yellow; //
        }
      }
      &__dot {
        li.dot {
          background-color: $yellow;
        }
      }
    }
    .discription {
      p {
        color: $yellow;
      }
      &__detail {
        color: $yellow;
      }
      li {
        &:first-of-type {
          .discription__img {
            background-image: url('../Mobile/images/rewardCard/icon-yellow-point.png');
          }
        }
        &:nth-of-type(2) {
          .discription__img {
            background-image: url('../Mobile/images/rewardCard/icon-yellow-date.png');
          }
        }
        &:nth-of-type(3) {
          .discription__img {
            background-image: url('../Mobile/images/rewardCard/icon-yellow-doc.png');
          }
        }
        &:last-of-type {
          .discription__img {
            background-image: url('../Mobile/images/rewardCard/icon-yellow-notice.png');
          }
        }
      }
    }
  }
}

.p-rewardCardList {
  width: 100%;
  max-width: $max-width;
  margin: auto;
  min-height: 100vh;
  background-color: $default;
  color: $gray-1;
  &__header {
    background-color: $blue;
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    img {
      margin: auto;
      background-color: $white;
    }
    h3 {
      color: $white;
      text-align: center;
    }
  }
  &__content {
    padding: 0.6rem;
  }
}
// components
.list {
  display: flex;
  align-items: center;
  background: $white;
  &--expiry {
    position: relative;
    &::after {
      content: '';
      width: 25%;
      height: 100%;
      background-image: url('../Mobile/images/rewardCard/end.png');
      background-repeat: no-repeat;
      background-size: 100%;
      opacity: 0.4;
      position: absolute;
      z-index: 1;
      top: 2rem;
      right: 1.2rem;
    }
  }
  &__img { 
    padding: 1rem;
    color: $gray-1;
    img {
      max-width: 20vw;
      max-height: 20vw;
      margin: auto;
    }
    &::after {
      content: '';
      @include ab-position(50%, 100%, translate(-50%, -50%) );
      width: 3px;
      height: 55%;
      background: $gray-1;
    }
  }
  &__main {
    padding-left: 2rem;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  &__name {
    font-size: 1.1rem;
  }
  &__discript {
    font-weight: lighter;
    font-size: 1rem;
  }
}
// modal
.exchangeModal {
  width: 70%;
  max-width: $max-width * 0.7;
  margin: auto;
  border-radius: 10px;;
  &__header {
    color: $white;
    text-align: center;;
    border-radius: 10px 10px  0 0 ;
    padding: 0.5rem;
  }
  &__content {
    align-items: center;
    padding: 1rem;
    background:$white;

    img {
      padding: 0.5rem;
      max-width: 80px;
    }
  }
  &__select {
      width: 85%;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background-image: url(../Mobile/images/rewardCard/arrow.png);
      background-repeat: no-repeat !important;
      background-size: 16px !important;
      background-position: 94% 50% !important;
      background-color: $white;
      color: #555 !important;
      padding: 0.3rem 0.4rem;
      outline: none;
      line-height: normal;
      border-radius: 1rem;
      border: 1px solid #ced2db;

  }
  &__input {
    border: 1px solid #ced2db;
    line-height: normal;
    border-radius: 1rem;
    padding: 0.3rem 0.4rem;
    width: 100%;
  }

  &__footer {
    display: flex;
    border-radius: 0 0 10px 10px;
    padding: 0.5rem;
    justify-content: space-around;
    p {
      color: $white;
      text-align: center;
      &:active {
        opacity: 0.9;
        font-weight: bolder;
      }
    }
  }
}
